/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mainsite-container {
        position: relative;
        width: 100%;
        margin: 0px auto 0px auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .mainsite-container {
        position: relative;
        width: 100%;
        margin: 0px auto 0px auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 780px) {
    .mainsite-container {
        position: relative;
        width: 768px;
        margin: 0px auto 0px auto;
    }
}

.mainsite-container {
    padding-top: 30px;
    text-align: justify;
}

.navigation_section {
    padding-bottom: 50px;
}

blockquote.style2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.site_footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: darkgray;
    background-color: #0f0f0f;
}

.navbar {
    font-size: 18px;
}

.section_title {
    background: lightgrey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, lightgrey , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightgrey , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightgrey , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightgrey , white); /* Standard syntax */
}

.section_subtitle {
    background: lightgrey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, lightgrey , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightgrey , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightgrey , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightgrey , white); /* Standard syntax */

    font-size: 22px;
}