A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
.style15 {
	FONT-SIZE: 11pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style16 {
	FONT-SIZE: 10pt; COLOR: #555555
}
.style31 {
	FONT-FAMILY: "Agency FB"; FONT-WEIGHT: bold; COLOR: #252525
}
.style86 {
	FONT-SIZE: 11pt
}
.style93 {
	FONT-SIZE: 25pt; FONT-FAMILY: "Agency FB"; COLOR: #444444
}
.style102 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
