{% extends "base.html" %}

{% block title %}
  Nosotros
{% endblock %}

{% block content %}
    <div class="site-container">
        <!-- Section 1 -->
        <div id="#about_us" style="background-color: lightblue;">
          <h1>Quiénes somos</h1>
          <p>El&nbsp;<strong>Condominio Cintermex</strong>&nbsp;cuenta con aproximadamente 12,000 metros cuadrados
              teni&eacute;ndose m&aacute;s de 150 organizaciones distribuidas en dos niveles.&nbsp;<br/><br/>
              El recinto fue inaugurado el 25 de Abril de 1991 como un edificio inteligente, donde todos los
              sistemas estuvieran totalmente automatizados: seguridad, aire acondicionado, iluminaci&oacute;n,
              protecci&oacute;n contra incendios, circuito cerrado de televisi&oacute;n, etc.</p>

            <blockquote class="style2">
                Le cumplimos Se&ntilde;or Presidente&hellip;<br/>
                                <strong><em> - Carlos Salazar</em></strong>
            </blockquote>

            <p>&nbsp;<strong>Hechos relevantes:</strong></p>

            <ul>
              <li>Promoci&oacute;n de los locales en la web, pantallas y pr&oacute;ximamente planos interactivos.</li>
              <li>Instalaci&oacute;n de sem&aacute;foro para r&aacute;pido flujo en rampas de salida.</li>
              <li>Fumigaci&oacute;n semanal en los locales.</li>
              <li>Automatizaci&oacute;n del estacionamiento.</li>
              <li>Construcci&oacute;n del Restaurante La Arcada 1200.</li>
            </ul>
        </div>

        <!-- Section 2 -->
        <div id="#location" style="height: 1000px; background-color: lightgreen;">
          <h1>Ubicación</h1>
          <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
        </div>

        <!-- Section 3 -->
        <div id="#directory" style="height: 1000px; background-color: lightpink;">
          <h1>Directorio</h1>
          <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
        </div>
    </div>
{% endblock %}