{% extends "base.html" %}

{% block title %}
  Nosotros
{% endblock %}

{% block content %}
    <!-- Section 1 -->
    <div id="about_us" style="height: 200px; background-color: lightblue;">
      <h1>Section 1</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>

    <!-- Section 2 -->
    <div id="location" style="height: 200px; background-color: lightgreen;">
      <h1>Ubicación</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>

    <!-- Section 3 -->
    <div id="directory" style="height: 200px; background-color: lightpink;">
      <h1>Directorio</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>

{% endblock %}