{% extends "base.html" %}

{% block title %}
    Espacios Disponibles
{% endblock %}

{% block content %}
    <!-- Section 2 Espacios Disponibles -->

    <div class="mainsite-container">
        <span class="top">
            <p> NOTFINAL </p>
        </span>

        {% for spaces in spaces_data %}
            <div>
                <p style="margin-top: 20px" class="section_subtitle"><b>Local vacante: {{ spaces.local }}</b></p>

                {% if spaces.status %}
                    <p><b>Estatus:</b> {{ spaces.status }}</p>
                {% endif %}

                {% if spaces.metros %}
                    <p><b>Dimensiones: </b> {{ spaces.metros }} metros cuadrados
                {% endif %}

                {% if spaces.contacto %}
                    <p><b>Contacto:</b> {{ spaces.contacto }}</p>
                {% endif %}

                {% if spaces.telefono %}
                    <p><b>Teléfono:</b> {{ spaces.telefono }}</p>
                {% endif %}

                {% if spaces.comentarios %}
                    <p><b>Comentarios:</b> {{ spaces.comentarios }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}