{% extends "base.html" %}
{% load static %}

{% block title %}
  Informacion General
{% endblock %}
    

{% block script %}
<script src="{% static 'js/site/general.js' %}"></script>
{% endblock %}


{% block content %}

<div class="mainsite-container">
    <div id="general" class="navigation_section"></div>
        <div>
            <h1 class="section_title">Guía General</h1>
        </div>
    <br/>
    <table width="800" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="middle"><div align="justify" class="style12"><span class="style113">La siguiente gu&iacute;a consiste en un kit de informaci&oacute;n imprimible  &uacute;til para  ocupantes y clientes prospectos, para conocer m&aacute;s acerca de la log&iacute;stica de operaciones en el condominio. <br />
    (Necesita <a href="http://get.adobe.com/es/reader/" target="_blank"><strong>Adobe Acrobat Reader</strong></a>).</span>.</div></td>
      </tr>
    </table>
    <br />
    <hr align="left" width="800" />
    <table width="800" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="middle"><div align="center"><a href="http://www.cintermex.com/condominos/Directorio_Cintermex.pdf" target="mainFrame"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r1_c1.jpg" name="Image1" width="650" height="70" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','http://www.cintermex.com/condominos/Imgs/Kit_r1_c1_f2.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r2_c1.jpg" width="650" height="5" /></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.cintermex.com/web/condominos/Directorio_Condominos.aspx" target="mainFrame"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r3_c1.jpg" name="Image4" width="650" height="70" border="0" id="Image4" onmouseover="MM_swapImage('Image4','','http://www.cintermex.com/condominos/Imgs/Kit_r3_c1_f2.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r4_c1.jpg" width="650" height="5" /></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.cintermex.com/condominos/Guia_de_servicios.pdf" target="mainFrame"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r5_c1.jpg" name="Image2" width="650" height="70" border="0" id="Image2" onmouseover="MM_swapImage('Image2','','http://www.cintermex.com/condominos/Imgs/Kit_r5_c1_f2.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r6_c1.jpg" width="650" height="5" /></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.cintermex.com/condominos/Reglamento_de_construccion.pdf" target="mainFrame"><img src="http://www.cintermex.com/condominos/Imgs/Kit_r7_c1.jpg" name="Image3" width="650" height="70" border="0" id="Image3" onmouseover="MM_swapImage('Image3','','http://www.cintermex.com/condominos/Imgs/Kit_r7_c1_f2.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      </tr>
    </table>
</div>

{% endblock %}
