{% extends "base.html" %}
{% load static %}

{% block title %}
  Guía de Servicios
{% endblock %}
    

{% block script %}
<script src="{% static 'js/site/general.js' %}"></script>
{% endblock %}

{% block content %}

<div class="mainsite-container">
    <div id="direcintermex" class="navigation_section"></div>
        <div>
            <h1 class="section_title">Guía de Servicios</h1>
        </div>
    <br/>

    <table width="800" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="middle">
                <div class="scrollable">
                    <embed src='{% static 'pdf/Guia_de_servicios.pdf' %}' width="800" height="800" type='application/pdf'>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">
                <br>
                <a href='{% static 'pdf/Guia_de_servicios.pdf' %}' download='{% static 'pdf/Guia_de_servicios.pdf' %}'>
                    <button type="submit" class="btn btn-default btn-lg">Descargar</button>
                </a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}