<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Condominios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style type="text/css">
<!--
a:link {
	color: #0099CC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0099CC;
}
a:hover {
	text-decoration: none;
	color: #0099CC;
}
a:active {
	text-decoration: none;
	color: #0099CC;
}
.style10 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.style13 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #333333; }
.style14 {color: #333333}
-->
</style>
</head>
<body topmargin="20" leftmargin="20" rightmargin="20" bottommargin="20">
<div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <a href="#" class="navbar-brand">Cintermex</a>

            <button class="navbar-toggle" data-toggle = "collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollpase">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'news' %}">Avisos</a></li>
                    <li class="dropdown">
                        <a href = "#" class="dropdown-toggle" data-toggle="dropdown">Condominios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="permanent_business.html">Negocios Permanentes</a></li>
                            <li><a href="disponibility.html">Especios Disponibles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href = "#" class="dropdown-toggle" data-toggle="dropdown">Informacion<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="general.html">Guia General</a></li>
                            <li><a href="#">Especios Disponibles</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Miembros</a></li>
                </ul>
            </div>
        </div>
    </div>

<table width="800" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle" background="http://www.cintermex.com/Condominos/Imgs/Background.png" bgcolor="#DCDCDC"> <div align="center">
    <span class="style10">I N S T A L A C I O N E S &nbsp;/&nbsp;  S E R V I C I O S </span></div></td>
  </tr>
</table>
<br />
<table width="800" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><div align="justify" class="style13">El punto  de distinci&oacute;n que hace la diferencia en el condominio Cintermex es debido a la gran cantidad de servicios e instalaciones dentro del edificio que son de uso cotidiano y que permiten a los ocupantes disponer de todos ellos sin salir fuera del recinto. As&iacute; tambi&eacute;n, como una ubicaci&oacute;n que permite ser un lugar muy atractivo en la ciudad. </div></td>
  </tr>
</table>
<br />
<hr align="left" width="800" />
<table width="750" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><div align="justify" class="style12">
      <table width="750" cellpadding="0" cellspacing="0">
        <tr>
          <td width="10" align="center" valign="top"><ul>
            <li><span class="style14"></span></li>
          </ul></td>
          <td width="740" height="65" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><span align="justify"><strong>Acceso Electr&oacute;nico:</strong></span><br />
            Tarjeta electr&oacute;nica y lectoras de acceso que permiten a los cond&oacute;minos ingresar al estacionamiento y a los sanitarios exclusivos para el &aacute;rea de cond&oacute;minos.</div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul class="style14">
            <li></li>
          </ul>            <div align="center" class="style14"></div></td>
          <td width="740" height="65" align="left" valign="middle"><div align="justify" class="style14"><span align="justify"><strong>Alimentos y Bebidas:</strong></span><br />
            El Restaurante La Arcada 1200  proporciona servicio de barra y a la carta, con precios especiales para los cond&oacute;minos. </div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul class="style14">
            <li></li>
          </ul>            <div align="center" class="style14"></div></td>
          <td width="740" height="50" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><strong>Centro de Copiado y Papeler&iacute;a:</strong><br />
            En la planta baja se localiza un local de servicios de copiado, renta de internet, papeler&iacute;a en general y regalos.</div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul>
            <li><span class="style14"></span></li>
          </ul></td>
          <td width="740" height="50" align="left" valign="middle"><div align="justify" class="style14"><strong>Estacionamiento:</strong><br />
            Amplio estacionamiento con m&aacute;s de 1,000 cajones disponibles para cond&oacute;minos y visitantes. </div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul>
            <li><span class="style14"></span></li>
          </ul></td>
          <td width="740" height="50" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><strong>Instituciones Bancarias:</strong><br />
            Se encuentran instalados tres cajeros autom&aacute;ticos de los bancos Banorte, Santander y BBVA Bancomer. </div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul>
            <li><span class="style14"></span></li>
          </ul></td>
          <td width="740" height="50" align="left" valign="middle"><div align="justify" class="style14"><strong>Internet:</strong><br />
            Acceso gratuito a Internet en &aacute;reas comunes (Arcada y Lobby) con Servicio B&aacute;sico. </div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul>
            <li><span class="style14"></span></li>
          </ul></td>
          <td width="740" height="50" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><strong>Primeros auxilios:</strong><br />
            Enfermer&iacute;a instalada en la planta baja del edificio para proporcionar servicio m&eacute;dico en caso de emergencia. </div>            </td>
          </tr>
        <tr>
          <td width="10" align="center" valign="top"><ul>
            <li><span class="style14"></span></li>
          </ul></td>
          <td width="740" height="85" align="left" valign="middle"><div align="justify" class="style14"><strong>Ubicaci&oacute;n:</strong><br />
            La ubicaci&oacute;n del condominio tiene grandes beneficios para atraer a los visitantes, debido a la cercan&iacute;a a diferentes hoteles de gran calidad, la variedad de medios de transporte que pasan por el recinto,             y la permanencia en una &aacute;rea verde con grandes atractivos como los que tiene el Parque Fundidora.</div></td>
        </tr>
      </table>
      </div></td>
  </tr>
</table>
</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>