{% extends "base.html" %}

{% block title %}
  Instalaciones y Servicios
{% endblock %}

{% block css %}
    {% load static %}
    <link href='{% static 'css/about_us.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <table width="800" border="0" cellpadding="0" cellspacing="0">
        <div class="mainsite-container">
            <div id="about_us" class="navigation_section"></div>
                <div>
                    <h1 class="section_title">Instalaciones y Servicios</h1>
                </div>
            <br/>
        </div>
        <div align="center">
            <table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td valign="top"><div align="justify" class="style13">El punto  de distinci&oacute;n que hace la diferencia en el condominio Cintermex es debido a la gran cantidad de servicios e instalaciones dentro del edificio que son de uso cotidiano y que permiten a los ocupantes disponer de todos ellos sin salir fuera del recinto. As&iacute; tambi&eacute;n, como una ubicaci&oacute;n que permite ser un lugar muy atractivo en la ciudad. </div></td>
              </tr>
            </table>
            <br />
        </div>
        <table width="750" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top"><div align="justify" class="style12">
              <table width="750" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="10" align="center" valign="top"><ul>
                    <li><span class="style14"></span></li>
                  </ul></td>
                  <td width="740" height="65" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><span align="justify"><strong>Acceso Electr&oacute;nico:</strong></span><br />
                    Tarjeta electr&oacute;nica y lectoras de acceso que permiten a los cond&oacute;minos ingresar al estacionamiento y a los sanitarios exclusivos para el &aacute;rea de cond&oacute;minos.</div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul class="style14">
                    <li></li>
                  </ul>            <div align="center" class="style14"></div></td>
                  <td width="740" height="65" align="left" valign="middle"><div align="justify" class="style14"><span align="justify"><strong>Alimentos y Bebidas:</strong></span><br />
                    El Restaurante La Arcada 1200  proporciona servicio de barra y a la carta, con precios especiales para los cond&oacute;minos. </div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul class="style14">
                    <li></li>
                  </ul>            <div align="center" class="style14"></div></td>
                  <td width="740" height="50" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><strong>Centro de Copiado y Papeler&iacute;a:</strong><br />
                    En la planta baja se localiza un local de servicios de copiado, renta de internet, papeler&iacute;a en general y regalos.</div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul>
                    <li><span class="style14"></span></li>
                  </ul></td>
                  <td width="740" height="50" align="left" valign="middle"><div align="justify" class="style14"><strong>Estacionamiento:</strong><br />
                    Amplio estacionamiento con m&aacute;s de 1,000 cajones disponibles para cond&oacute;minos y visitantes. </div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul>
                    <li><span class="style14"></span></li>
                  </ul></td>
                  <td width="740" height="50" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><strong>Instituciones Bancarias:</strong><br />
                    Se encuentran instalados tres cajeros autom&aacute;ticos de los bancos Banorte, Santander y BBVA Bancomer. </div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul>
                    <li><span class="style14"></span></li>
                  </ul></td>
                  <td width="740" height="50" align="left" valign="middle"><div align="justify" class="style14"><strong>Internet:</strong><br />
                    Acceso gratuito a Internet en &aacute;reas comunes (Arcada y Lobby) con Servicio B&aacute;sico. </div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul>
                    <li><span class="style14"></span></li>
                  </ul></td>
                  <td width="740" height="50" align="left" valign="middle" bgcolor="#dddddd"><div align="justify" class="style14"><strong>Primeros auxilios:</strong><br />
                    Enfermer&iacute;a instalada en la planta baja del edificio para proporcionar servicio m&eacute;dico en caso de emergencia. </div>            </td>
                  </tr>
                <tr>
                  <td width="10" align="center" valign="top"><ul>
                    <li><span class="style14"></span></li>
                  </ul></td>
                  <td width="740" height="85" align="left" valign="middle"><div align="justify" class="style14"><strong>Ubicaci&oacute;n:</strong><br />
                    La ubicaci&oacute;n del condominio tiene grandes beneficios para atraer a los visitantes, debido a la cercan&iacute;a a diferentes hoteles de gran calidad, la variedad de medios de transporte que pasan por el recinto,             y la permanencia en una &aacute;rea verde con grandes atractivos como los que tiene el Parque Fundidora.</div></td>
                </tr>
              </table>
              </div></td>
          </tr>
        </table>
    </table>
{% endblock %}