{% extends "base.html" %}

{% block title %}
  Avisos
{% endblock %}

{% block css %}
    {% load static %}
    <link href='{% static 'css/about_us.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
        <div class="mainsite-container">
            <div id="about_us" class="navigation_section"></div>
                <div>
                    <h1 class="section_title">Avisos</h1>
                </div>
        </div>
        <div class="mainsite-container">
            <h2 class="section_tittle"><strong>Estacionamiento</strong></h2>
            <table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="top">
                        <div align="justify">
                            <span class="style7">
                                Les recordamos que la fecha límite para hacer el pago de estacionamiento es el
                                <strong>JUEVES 15 DE OCTUBRE, 2015</strong>
                                .
                                <br>
                                Evita suspenciones, pague a tiempo.
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mainsite-container">
            <h2 class="section_tittle"><strong>CFE</strong></h2>
            <table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="top">
                        <div align="justify">
                            <span class="style7">
                                Para evitar inconvenientes con el pago del servicio de CFE, les sugerimos consulten su estado de cuenta en Internet, en la página: <a href="http://www.cfe.gob.mx/paginas/home.aspx" target="_blank">http://www.cfe.gob.mx/paginas/home.aspx</a>
                                <br>
                                Es muy sencillo darse de alta, solo es necesario que tengan a la mano el último recibo.
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </table>
{% endblock %}
