{% extends "base.html" %}

{% block title %}
  Negocios Permanentes
{% endblock %}

{% block css %}
    {% load static %}
    <link href='{% static 'css/about_us.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}


{% block content %}
     <!-- Section 1 Negocios Permanentes -->
    <table width="800" border="0" cellpadding="0" cellspacing="0">
        <div class="mainsite-container">
            <div id="about_us" class="navigation_section"></div>
                <div>
                    <h1 class="section_title">Negocios Permanentes</h1>
                </div>
            <br/>
        </div>
        <div align="center">
            <iframe src="http://www.cintermex.com/Condominos/Negocios_ABC.aspx?LetraP=A&LetraU=B&Titulo=A-B" width="50%" height="550px" frameborder="0" scrolling="auto" id="OrgFrame" name="OrgFrame"></iframe>
        </div>
    </table>

{% endblock %}