{% extends "base.html" %}
{% load static %}

{% block title %}
  Informacion General
{% endblock %}
    

{% block script %}
<script src="{% static 'js/site/general.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mainsite-container">
    <div id="rules" class="navigation_section"></div>
        <div>
            <h1 class="section_title">Reglamentos</h1>
        </div>
    <br/>
    <table width="800" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="middle"><div align="justify" class="style12"><span class="style113">Los siguientes documentos muestran los reglamentos que es importante que los ocupantes conozcan tanto por parte de las operaciones del condominio como del estacionamiento interno.<br />
    (Necesita <a href="http://get.adobe.com/es/reader/" target="_blank"><strong>Adobe Acrobat Reader</strong></a>).</span>.</div></td>
      </tr>
    </table>
    <br />
    <hr align="left" width="800" />
    <table width="800" border="0" cellpadding="0" cellspacing="0">
        <tr>
        <td width="400" align="center" valign="middle"><div align="center"><a href="{% static 'pdf/Directorio_Cintermex.pdf' %}" target="mainFrame"></a><a href="{% url 'regconadm' %}"><img src="{% static 'Imgs/RegCondAdmon.jpg' %}" width="300" height="383" border="0" align="middle" id="Image1" onmouseover="MM_swapImage('Image1','','{% static 'Imgs/RegCondAdmon2.jpg' %}',1)" onmouseout="MM_swapImgRestore()" /></a></div></td>
        <td width="400" align="center" valign="middle"><a href="{% url 'regest' %}"><img src="{% static 'Imgs/RegEstac.jpg' %}" width="251" height="383" border="0" align="middle" id="Image2" onmouseover="MM_swapImage('Image2','','{% static 'Imgs/RegEstac2.jpg' %}',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      </tr>
    </table>
</div>
{% endblock %}